body {
  margin: 0 auto;
  padding: 0 auto;
}

.nav-bar {
  background-color: #171718;
  max-width: calc(100% - 10px); /* screen k according width control */
  height: auto; /*screen k according height control*/
  padding: 13px;
  text-align: center;

  position: relative; /* Navbar fixed position  */
  top: 0; /* Navbar ko screen ke top par rakhny k lye */
  width: 100%; /* Navbar ki width puri screen ke barabar ho */
  z-index: 1000; /* Navbar ko top-most layer par rakhe */
}

.navlink {
  text-decoration: none;
  color: #d3d3d4;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  padding: 0px 16px;
  display: inline-block;
}

#applelogo {
  width: 16px;
  padding: 0px 20px;
  vertical-align: text-bottom;
  background-size: contain;
}
.navtext {
  text-align: center;
}
.navlink:hover {
  color: rgb(170, 169, 169);
}
#search {
  width: 16px;
  padding: 0px 20px;
  vertical-align: text-bottom;
  background-size: contain;
  filter: brightness(150%);
}
#bag {
  width: 18px;
  padding: 0px 20px;
  vertical-align: text-bottom;
  background-size: contain;
  filter: brightness(250%);
}
#mainimg {
  width: 100%;
}
#img2 {
  width: 100%;
  margin-top: -20px;
}
#v1 {
  width: 100%;
}

/* chat */

/* Set the container position and dimensions */
.container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: flex-end; /* Align content to the bottom */
}

/* Video styling */
video {
  width: 100%;
  height: auto;
  display: block;
}

/* Position the caption container */
.caption {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  display: flex;
  align-items: center;
}

/* Responsive image style */
.responsive-image {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  margin-right: 10px; /* Adds some spacing between image and text */
}

/* Caption text style */
.responsive-text {
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: rgb(203, 203, 203);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
}
#img3 {
  width: 50%;
  text-align: right;
}
#img4 {
  width: 50%;
  text-align: left;
}
#img5 {
  width: 100%;
}
#img6 {
  width: 100%;
}
.para {
  width: 70%;
  margin-left: 17%;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.56);
  font-family: Arial, Helvetica, sans-serif;
}
#applecare {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.56);
  font-family: Arial, Helvetica, sans-serif;
}
